* {
    border: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color:antiquewhite;
    text-align: center;
    font-size: 150px;
    font-style: oblique;
    overflow:visible;
    text-overflow:ellipsis;
    text-shadow: 5px 5px red;
}
h1:hover{
    overflow:visible;
}
.nav-centre{
    text-align:center;
    font-size: 70px;
    color:aliceblue;
}
h2{
    color:blue ;
    /* text-align: center; */
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}
body{
       background-color: black; 
    /* background-image: url("/stars.webp"); */
    background-image: url("/5652030.webp");
}
section{
    color:aliceblue;
    font-size: 30px;
    text-align: justify;
    text-wrap: balance;
    line-height: 1.8;

}
table{
    color: aliceblue;
    font-size: 30px;
}
p{
    color: aliceblue;
    font-size:30px;
    text-align: center;
}
.name{
    /* background-image: url("/giphy.webp"); */
}
footer{
    font-size: 30px;
}
.container{
    display:grid;
    align-items: center;
    /* padding: 4%; */
}
.text{
    color:aliceblue;
    font-size: 30px;
    line-height: 1.8;
    text-align: justify;
    text-decoration:dotted;
    padding: 50px;
    text-wrap: balance;
    text-align: center;
}
.photo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-reflect: right;
    align-items: center;
}
.nav-bar{
    align-items: center;
    font-size: 25px;
    color: aliceblue;
    text-align: center;
}
.table th, td{
    border: 1px solid white;
    border-collapse:collapse;
    border-radius: 5px;
    line-height: 1.8;
}